<form class="insertForm" onSubmit="return false;">
    <div class="width-100">
        <input id="inputTitel" class="inputElement" type="text" placeholder="Titel eingeben">
        <input id="inputNote" class="inputElement" type="text" placeholder="Notiz schreiben.....">
    </div>
    <div class="btnSearch">
        <button class="btn" onclick="addNote()"><img src="src/img/insertbar/checkmark.png" alt="Notiz Speichern" title="Notiz speicher"></button>
        <button class="btn"><img src="src/img/insertbar/brush.png" alt=""></button>
        <button class="btn"><img src="src/img/insertbar/picture.png" alt=""></button>
    </div>
</form>