<nav>
    <div class="navMenu">
        <!--<button class="navMenuBtn"><img class="navMenuIcon" src="src/img/nav/menu.png" alt=""></button>-->
        <h2><img src="src/img/nav/lightbulp.png" alt="">Notizen</h2>
    </div>
    <div>
        <form id="searchBar" class="formSearch" action="#">
            <button class="btn"><img src="src/img/nav/search.png" alt=""></button>
            <input id="searchInput" class="inputElement" placeholder="Suchen..." type="text" onkeyup="searchNote(value)">
        </form>
    </div>
    <!--<div class="navIcons">
        <img src="src/img/nav/refresh.png" alt="">
        <img src="src/img/nav/rect.png" alt="">
        <img src="src/img/nav/setting.png" alt="">
        <img src="src/img/nav/ninepoints.png" alt="">
    </div>-->
</nav>